<div class="w-full">
  <div class="flex flex-col justify-between items-center">
  <h1 class="font-bold text-4xl mb-3">主催者情報を保存します</h1>
  <%= turbo_frame_tag 'owner_main', data: { turbo_action: :advance } do %>
      <p class="text-2xl text-accent">登録が完了していないようです。以下のボタンから、主催者情報を登録して、ゲームを開始しましょう！</p>
      <%= link_to '主催者情報登録', new_game_owner_path(@game), class: "btn btn-secondary" %>
  <% end %>
  </div>
</div>
