<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-5">主催者情報を登録します</h1>
  <p class="text-gray-600 my-2">主催者情報を登録することで、ゲーム終了後にも結果を確認しに戻ってくることができます。</p>
  <%= render "form", game: @game, owner: @owner %>

</div>
