<div class="mx-auto md:w-2/3 w-full flex">
  <%= turbo_frame_tag 'game_main' do %>
    <div class="mx-auto">

      <%= render @game %>

      <%= link_to 'Edit this game', edit_game_path(@game), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Back to games', games_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
</div>
