<h2 class="text-4xl mb-5">ゲーム開始をお待ち下さい</h2>
<div class="flex flex-col items-center justify-center mt-5">
  <p class="mb-2">「<%= @player.game.title %>」はまだ開始されていません。</p>
  <p>しばらくそのままでお待ち下さい。</p>
</div>
