<%= turbo_stream_from @player.game.state_channel %>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto" id="main-content">
    <%= render 'please_wait' if @player.game.entry? %>
    <%= render 'let_go_bingo' if @player.game.playing? && ! @player.winner? %>
    <%= render 'score' if @player.game.finished? || @player.winner? %>
  </div>
</div>
