<%= turbo_stream_from @player.game.state_channel %>
<div class="w-full">
  <div class="flex flex-col justify-between items-center" id="main-content">
    <%= render 'please_wait' if @player.game.entry? %>
    <%= render 'let_go_bingo' if @player.game.playing? && ! @player.winner? %>
    <%= render 'score' if @player.game.finished? || @player.winner? %>
  </div>
</div>
